.wrapper {
    margin: 2rem auto 3rem auto;
    padding: 1rem;
    max-width: 80ch;
    display: flex;
    flex-direction: column;
    align-items: center;
}

a {
    color: var(--link-accessible) !important;
}

article h1 {
    font-size: 2.5rem;
    margin-bottom: .25rem;
    margin-top: .5rem;
}

article .date {
    margin-top: .5rem;
}

article img {
    object-fit: cover;
    width: 100%;
}

.tag {
    margin: 0 .2rem;
    text-decoration: none;
    color: var(--link-accessible);
}

.tag:first-of-type {
    margin-left: .2rem;
}

.tag:hover {
    text-decoration: underline;
}

.nav-posts {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: 2rem;
}

.nav-posts button {
    border: .1rem solid #282d33;
    padding: .5rem 1rem;
    background-color: inherit;
}

.nav-posts button:hover {
    cursor: pointer;
    background-color: #282d33;
    color: #fff;
    border: .1rem solid transparent;
}