header {
    padding: 4.5rem 1rem;
    background: #ececec;
    background: #e9e8e8;
    background: #ecebeb;
    background: #bee2c4;
    background: #162f33;
    background: #ececec;
    /* background: #2b6447; */
    /* background-color: #0ca4aa; */
    /* background-color: #5f8aa1; */
    /* background-color: #021d17; */
    /* background: #404d2f;
    background: #151c5f;
    background: #1c3358;
    background: #bce5f5;
    background: #084155; */
    /* background: #202429; */
    text-align: center;
    margin: 0 auto;
    border-bottom: .1rem solid lightgray;
}

header h1 {
    font-size: 2rem;
}

.bg {
    background-color: rgb(248, 248, 248);
}

.wrapper {
    max-width: 80ch;
    padding: 1.5rem 1rem 4rem 1rem;
    margin: 1rem auto;
}

section {
    margin: 2rem auto;
}

section h2 {
    font-size: 2rem;
}

article {
    border: .125rem solid transparent;
    padding: 1rem;
    background: #fff;
    margin: 2rem 0;
}

article h3 {
    font-size: 1.5rem;
    margin: .35rem 0;
}

article h3 a {
    color: var(--link-accessible);
    text-decoration: underline;
}

article h3 a:hover {
    text-decoration: none;
}

.date {
    margin: .5rem 0;
    font-size: 1rem;
}

.content {
    margin: .5rem 0;
}

.tag:first-of-type {
    margin-left: .1rem;
}

.tag {
    margin: 0 .2rem;
    text-decoration: none;
    color: var(--link-accessible);
}

.tag:hover {
    text-decoration: underline;
}

mat-card {
    margin: 2rem auto;
}