.wrapper {
    max-width: 75ch;
    margin: 2rem auto;
    padding: 1rem;
    background-color: rgb(246, 246, 246);
}

.wrapper h1 {
    font-size: 2.5rem;
}

.wrapper section {
    margin: 3rem 0;
}

section article {
    margin: 2rem auto;
    border: .125rem solid transparent;
    background: #fff;
    padding: 1rem;
}

section article .title {
    margin: 0;
}

section article .title a {
    text-decoration: underline;
}

section article .title a:hover {
    text-decoration: none;
}

section article a {
    color: var(--link-accessible);
}

section .date .tag:first-of-type {
    margin-left: .1rem;
}

section .date .tag {
    margin: 0 .2rem;
}

section .preview {
    margin: 0;
}

mat-card {
    margin: 2rem auto;
}